<form>
  <h2>Do you already have an account?</h2>

  <div>
    <input type="radio" name="test" id="test-yes" value="Yes" />
    <label for="test-yes">Yes</label>
  </div>
  <div>
    <input type="radio" name="test" id="test-no" value="No" />
    <label for="test-no">No</label>
  </div>

</form>
