<label for="nino">
  What is your National Insurance number?
  <details>
    <summary>How to find your National Insurance number</summary>
    It's on your National Insurance card, benefit letter, payslip or P60.
    For example, ‘QQ 12 34 56 C’.
  </details>
</label>
<input id="nino" name="nino" type="text">
