<h2>How many planets are in our solar system?</h2>

<fieldset>
  <legend>
    <p>Don't count Pluto.</p>
  </legend>

  <div>
    <input id="planets-8" type="radio" name="planets" value="8">
    <label for="planets-8">8</label>
  </div>

  <div>
    <input id="planets-9" type="radio" name="planets" value="9">
    <label for="planets-9">9</label>
  </div>
</fieldset>
